<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/styles/styles.css">
    
    <title>Your Book search</title>
    
</head>
<body>
    <main class="bookData">
        <h1>Book data</h1>
        <p>book bookID: <%= result.bookID %> </p>
        <p>book name: <%= result.name %> </p>
        <p>book author: <%= result.author %> </p>
        <p>book year: <%= result.year %> </p>
        <p>book type: <%= result.type %> </p>
        <a href="/"><button>Menu</button></a>
    </main>
</body>
</html>